.perfil {
    width: 100%;
    min-height: 31.25rem;
    overflow: hidden;
    position: relative;
    border-radius: 20% 0 0 0;
}

.imgPerfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}