.navbar {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    padding: 0 10px;
    justify-content: center;
    height: 100vh;
    background: #111111;
}

.navlink {
    display: flex;
    gap: 5px;
    align-items: center;
}

.icon {
    width: 22px;
}