.page {
    width: 30%;
    height: 500px;
    padding: 2px 5px;
    margin: 0 auto;
    
    background-color: #111111;
}

.page h2 {
    text-align: center;
}

@media (prefers-color-scheme: light) {
    .page {
        background-color: #b84040;
    }
}