.page {
    height: 31.25rem;
    width: auto;
    padding: 2px 5px;
    margin: auto;
    background-color: #111111;
    overflow-y: auto;

}

.page h2 {
    text-align: center;
}

@media (prefers-color-scheme: light) {
    .page {
        background-color: #b84040;
    }
}